<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Projects Page </title>
  </head>
  <body>
    {{> header}}
    <p>Welcome to Projects Page</p>
    {{> footer}}
  </body>
</html>
